/* Foodie Custom */
.section-featured-locations h4 {
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: var(--heading-spacing);
}

.section-featured-locations ul.locations li a {
  display: block;
  width: 100%;
  margin: 0;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: var(--main-spacing);
  padding: var(--space-4) var(--space-2);
  border-top: 1px solid var(--dotted-color);
}

@media (min-width:768px) {
  .section-featured-locations ul.locations li a {
    font-size: var(--font-size);
  }
}

@media (max-width:767px) {
  .section-featured-locations ul.locations li a {
    font-size: var(--font-size);
  }
}

.section-featured-locations ul.locations li a svg {
  top: 50%;
  transform: translateY(-50%);
}

.section-featured-locations ul.locations li a:hover #icon--right-arrow.stroke g {
  stroke: var(--text-color-light);
}

.section-featured-locations .flickity-prev-next-button {
  top: 50%;
  transform: translateY(-50%);
}
.section-featured-locations .flickity-prev-next-button.previous {
  left: 10px !important;
  right: unset !important;
}
.section-featured-locations .flickity-prev-next-button.next {
  right: 10px !important;
  left: unset !important;
}


.section-featured-locations .location--carousel_image.is--fixed .box-ratio {
  padding-bottom: var(--desktop-section-height) !important;
}
.section-featured-locations .location--carousel_image.is--fixed img {
  height: var(--desktop-section-height) !important;
  object-fit: cover;
}
.section-featured-locations .location--carousel_image.is--fixed .placeholder-image {
  height: var(--desktop-section-height);
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-featured-locations .location--carousel_image.is--fixed .placeholder-image svg {
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 740px) {
  .section-featured-locations .location--carousel_image.is--fixed .box-ratio {
    padding-bottom: var(--mobile-section-height) !important;
  }
  .section-featured-locations .location--carousel_image.is--fixed img {
    height: var(--mobile-section-height) !important;
    object-fit: cover;
  }
  .section-featured-locations .location--carousel_image.is--fixed .placeholder-image {
    height: var(--mobile-section-height);
  }
}
